{
  "openapi": "3.0.3",
  "info": {
    "title": "API da QFlash",
    "description": "Documentação da API da QFlash. A API da QFlash é composta pela API Core e a de Pré-cadastro. A API Core possui serviços vinculados à plataforma, como: autenticação, antecipação de duplicatas, registro de operações e cadastro de empresas. A API de pré cadastro é usada pelos nossos parceiros para nos mandar e requisitar dados de cnpjs.",
    "version": "1.0.0",
    "contact": {
      "email": "qflash@qflash.com.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.qflash.com.br/Prod"
    }
  ],
  "securityDefinitions": {
    "x-api-key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    }
  },
  "paths": {
    "/cnpj": {
      "post": {
        "tags": [
          "Pré-cadastro"
        ],
        "summary": "POST /cnpj",
        "operationId": "PostCNPJ",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "SlJ1T0hd9W3XEoyGuh8xS9su4laZAPVe2hhiSFpA"
          }
        ],
        "requestBody": {
          "description": "CNPJ object with any additional field that may hold important information.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cnpj"
                ],
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "example": "54202735000127"
                  },
                  "anyAdditionalFields": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "integer"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array"
                      },
                      {
                        "type": "object"
                      }
                    ],
                    "required": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid CNPJ supplied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/limit": {
      "get": {
        "tags": [
          "Pré-cadastro"
        ],
        "summary": "GET /limit/",
        "description": "Returns quote object",
        "operationId": "GetLimit",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "SlJ1T0hd9W3XEoyGuh8xS9su4laZAPVe2hhiSFpA"
          }
        ],
        "security": [
          {
            "x-api-key": [

            ]
          }
        ],
        "requestBody": {
          "description": "CNPJ object with any additional field that may hold important information.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cnpj"
                ],
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "example": "52.027.35/0001-27"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cnpj": {
                      "type": "string",
                      "example": "54.202.735/0001-27"
                    },
                    "quote": {
                      "type": "number",
                      "format": "float",
                      "example": 735.1
                    },
                    "anyAdditionalFields": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "integer"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid CNPJ supplied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "CNPJ not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/core/v1/auth": {
      "post": {
        "tags": [
          "Autenticação"
        ],
        "summary": "Autenticação",
        "description": "### Sobre\n\nEndpoint para efetuar a autenticação na API.\n\n### Payload\n\n* **name**: Nome do serviço chamador\n* **password**: Senha\n\n#### Observação\n\nTodas as requests devem conter em seu **header** um `Authorization` com o Token gerado no endpoint de autenticação no formato `Bearer token`.\n\nTodo Token expira em **1 dia**, portanto após expirar, deve ser gerado um novo token.\n\n**Para obter as credenciais de autenticação, entre em contato com o suporte.**\n\n",
        "operationId": "autenticação",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_client": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "nome do cliente"
                      },
                      "password": {
                        "type": "string",
                        "example": "senha do cliente"
                      }
                    }
                  }
                }
              },
              "example": {
                "api_client": {
                  "name": "nome do cliente",
                  "password": "senha do cliente"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"6dc5ee6b903602e5b0f1b42c1ec9ee0f\""
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "8c82e22b-10d4-42b4-9338-44a5589e3d3a"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.136800"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exp": {
                      "type": "string",
                      "example": "data de expiração do token"
                    },
                    "token": {
                      "type": "string",
                      "example": "token gerado"
                    }
                  }
                },
                "examples": {
                  "Sucesso": {
                    "value": {
                      "exp": "data de expiração do token",
                      "token": "token gerado"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros Vazios",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "de906003-3c00-4483-ba0c-5f28efc84d99"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.027749"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Parametros não podem ser vazios"
                      }
                    }
                  }
                },
                "examples": {
                  "Parâmetros Vazios": {
                    "value": {
                      "errors": [
                        "Parametros não podem ser vazios"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Senha errada",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "d0ca6def-5864-4c8c-9f07-08706947189a"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.132373"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Cliente não autorizado."
                      }
                    }
                  }
                },
                "examples": {
                  "Senha errada": {
                    "value": {
                      "errors": [
                        "Cliente não autorizado."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/core/v1/bancos": {
      "get": {
        "tags": [
          "Consultas"
        ],
        "summary": "Consulta Bancos",
        "description": "### Sobre\n\nEndpoint para trazer a lista de bancos utilizados no sistema.",
        "operationId": "consultaBancos",
        "responses": {
          "200": {
            "description": "Nenhum Banco",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"c5f8730482263bf233e52f5a1650ed4c\""
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "20b6ea92-a92b-4fe5-8720-86899eb02078"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.053813"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                  }
                },
                "examples": {
                  "Nenhum Banco": {
                    "value": [

                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/core/v1/bancos/5c3d445d-e940-46c6-9bdc-f732a47be3d7": {
      "get": {
        "tags": [
          "Consultas"
        ],
        "summary": "Consuta Banco Específico",
        "description": "### Sobre\n\nEndpoint para consultar um banco específico passando seu ID",
        "operationId": "consutaBancoEspecífico",
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"a883db7522ed6049c6ff3f615ac8bbbb\""
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "128429b3-ce22-484f-ae7b-230bb2c79251"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.044149"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "codigo do banco"
                    },
                    "id": {
                      "type": "string",
                      "example": "id do banco"
                    },
                    "ispb": {
                      "type": "string",
                      "example": "00000000"
                    },
                    "nome": {
                      "type": "string",
                      "example": "nome do banco"
                    }
                  }
                },
                "examples": {
                  "Sucesso": {
                    "value": {
                      "codigo": "codigo do banco",
                      "id": "id do banco",
                      "ispb": "00000000",
                      "nome": "nome do banco"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/core/v1/borderos": {
      "post": {
        "tags": [
          "Operação"
        ],
        "summary": "Envio de XML",
        "description": "### Sobre\n\nEsse endpoint permite enviar notas fiscais no formato XML para antecipação de suas duplicatas.\n\n### Payload\n\n* **empresa_id**: ID da empresa a qual as notas serão enviadas\n\n* **notas_fiscais**: serão os JSONs de cada nota fiscal\n\n* **file_content**: Conteúdo do arquivo xml em Base64\n\n* **file_name**: Nome do arquivo de nota fiscal\n\n* **file_type**: sempre mandar como `application/xml`",
        "operationId": "envioDeXml",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bordero": {
                    "type": "object",
                    "properties": {
                      "empresa_id": {
                        "type": "string",
                        "example": "{{EMPRESA_ID}}"
                      },
                      "notas_fiscais": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "file_content": {
                              "type": "string",
                              "example": "<test>a</test>"
                            },
                            "file_name": {
                              "type": "string",
                              "example": "nota.xml"
                            },
                            "file_type": {
                              "type": "string",
                              "example": "application/xml"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "bordero": {
                  "empresa_id": "{{EMPRESA_ID}}",
                  "notas_fiscais": [
                    {
                      "file_content": "<test>a</test>",
                      "file_name": "nota.xml",
                      "file_type": "application/xml"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Com 2 notas fiscais",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"b3a9b564043eade9f7bcd1cd35140afd\""
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "5752e5fc-339e-47d3-a44e-b77b477301aa"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "5.149060"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bordero_id": {
                      "type": "string",
                      "example": "id do bordero"
                    }
                  }
                },
                "examples": {
                  "Com 2 notas fiscais": {
                    "value": {
                      "bordero_id": "id do bordero"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Sem XML",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "ab21bae8-03b8-4746-b0ba-3640a7b440a5"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.111105"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "As notas fiscais devem ser enviadas"
                      }
                    }
                  }
                },
                "examples": {
                  "Sem XML": {
                    "value": {
                      "errors": [
                        "As notas fiscais devem ser enviadas"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Empresa Inválida",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "4f6717bd-b9de-402c-a64a-415274fac2ab"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.027089"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Recurso não encontrado"
                      }
                    }
                  }
                },
                "examples": {
                  "Empresa Inválida": {
                    "value": {
                      "errors": [
                        "Recurso não encontrado"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Sem Nome do Arquivo",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "4bbf7476-d2f2-423d-b811-1f1c81964407"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.128277"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "file_name": {
                            "type": "string",
                            "example": "não pode ficar em branco"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Sem Nome do Arquivo": {
                    "value": {
                      "errors": [
                        {
                          "file_name": "não pode ficar em branco"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/core/v1/borderos/{BORDERO_ID}": {
      "get": {
        "tags": [
          "Consultas"
        ],
        "summary": "Consulta Borderô Específico",
        "description": "### Sobre\n\nEsse endpoint permite que o cliente faça a consulta borderô passando seu id\n\n### Parâmetros\n\n* **id**: ID do borderô",
        "operationId": "consultaBorderôEspecífico",
        "responses": {
          "200": {
            "description": "Sucesso",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"b73bc39e3f92ca811cb253bb200d1e67\""
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "361648c5-d2fe-4e58-b28c-d41a246e6dcd"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.032750"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "criado_em": {
                      "type": "string",
                      "example": "2020-04-13T21:00:00.000-03:00"
                    },
                    "empresa_id": {
                      "type": "string",
                      "example": "768a73c1-05ea-4ad4-a6f6-0f2b780520b2"
                    },
                    "id": {
                      "type": "string",
                      "example": "1572d3b4-ac26-49c5-8391-68918e32cd64"
                    },
                    "operacoes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "df94985f-d207-4d47-8471-58bec966d58a"
                          },
                          "status": {
                            "type": "string",
                            "example": "aprovada"
                          },
                          "valor": {
                            "type": "number",
                            "example": 555.5
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "operado"
                    },
                    "valor_aprovado": {
                      "type": "number",
                      "example": 123123.11
                    },
                    "valor_liquido": {
                      "type": "number",
                      "example": 123123.22
                    }
                  }
                },
                "examples": {
                  "Sucesso": {
                    "value": {
                      "criado_em": "2020-04-13T21:00:00.000-03:00",
                      "empresa_id": "768a73c1-05ea-4ad4-a6f6-0f2b780520b2",
                      "id": "1572d3b4-ac26-49c5-8391-68918e32cd64",
                      "operacoes": [
                        {
                          "id": "df94985f-d207-4d47-8471-58bec966d58a",
                          "status": "aprovada",
                          "valor": 555.5
                        }
                      ],
                      "status": "operado",
                      "valor_aprovado": 123123.11,
                      "valor_liquido": 123123.22
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Borderô Inexistente",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "8eac1aaa-cdae-47b5-92d0-aa14b0d08373"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.022426"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Recurso não encontrado"
                      }
                    }
                  }
                },
                "examples": {
                  "Borderô Inexistente": {
                    "value": {
                      "errors": [
                        "Recurso não encontrado"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "BORDERO_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/core/v1/borderos/{BORDERO_ID}/proposta": {
      "get": {
        "tags": [
          "Consultas"
        ],
        "summary": "Consulta Proposta",
        "description": "### Sobre\n\nEsse endpoint permite que o cliente faça a consulta da proposta corrente de um borderô, passando o id deste borderô\n\n### Parâmetros\n\n* **id**: ID do borderô",
        "operationId": "consultaProposta",
        "responses": {
          "200": {
            "description": "Borderô com proposta sem impostos",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"84c619c82d6519cbb085828e996465ea\""
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "07189bac-db98-4513-9bca-512d2e0dcdef"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.039339"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bordero": {
                      "type": "object",
                      "properties": {
                        "data_criacao": {
                          "type": "string",
                          "example": "2020-05-20T05:08:08.000-03:00"
                        },
                        "id": {
                          "type": "string",
                          "example": "a9444581-7b9e-49fc-ac1d-968b1870c82f"
                        },
                        "status": {
                          "type": "string",
                          "example": "rejeitado"
                        }
                      }
                    },
                    "proposta": {
                      "type": "object",
                      "properties": {
                        "abono": {
                          "type": "number",
                          "example": 0
                        },
                        "fator_de_compra": {
                          "type": "string",
                          "example": "0.022482893450635386119257086"
                        },
                        "id": {
                          "type": "string",
                          "example": "57a18ccd-4443-4abb-a431-d3bc03f8a1d3"
                        },
                        "impostos": {
                          "nullable": true,
                          "example": null
                        },
                        "juros": {
                          "type": "number",
                          "example": -0.1
                        },
                        "tarifas": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "nome": {
                                "type": "string",
                                "example": "Tarifa de cadastro"
                              },
                              "valor": {
                                "type": "number",
                                "example": -10
                              }
                            }
                          }
                        },
                        "taxa_efetiva": {
                          "type": "string",
                          "example": "0.023"
                        },
                        "valor_liquido": {
                          "type": "number",
                          "example": 7777.77
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Borderô com proposta sem impostos": {
                    "value": {
                      "bordero": {
                        "data_criacao": "2020-05-20T05:08:08.000-03:00",
                        "id": "a9444581-7b9e-49fc-ac1d-968b1870c82f",
                        "status": "rejeitado"
                      },
                      "proposta": {
                        "abono": 0,
                        "fator_de_compra": "0.022482893450635386119257086",
                        "id": "57a18ccd-4443-4abb-a431-d3bc03f8a1d3",
                        "impostos": null,
                        "juros": -0.1,
                        "tarifas": [
                          {
                            "nome": "Tarifa de cadastro",
                            "valor": -10
                          }
                        ],
                        "taxa_efetiva": "0.023",
                        "valor_liquido": 7777.77
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Borderô inexistente",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "3803536a-7c79-4c66-8dee-9e1f207fc8be"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.027922"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Recurso não encontrado"
                      }
                    }
                  }
                },
                "examples": {
                  "Borderô inexistente": {
                    "value": {
                      "errors": [
                        "Recurso não encontrado"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "BORDERO_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/core/v1/cadastro_empresa/dados_bancarios/{EMPRESA_ID}": {
      "put": {
        "tags": [
          "Cadastro"
        ],
        "summary": "Informações Bancárias",
        "description": "Informações Bancárias",
        "operationId": "informaçõesBancárias",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "empresa": {
                    "type": "object",
                    "properties": {
                      "informacoes_bancarias_attributes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "agencia": {
                              "type": "string",
                              "example": "888889"
                            },
                            "banco_id": {
                              "type": "string",
                              "example": "{{BANCO_ID}}"
                            },
                            "conta": {
                              "type": "string",
                              "example": "88888889"
                            },
                            "digito_agencia": {
                              "type": "string",
                              "example": "85"
                            },
                            "digito_conta": {
                              "type": "string",
                              "example": "85"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "empresa": {
                  "informacoes_bancarias_attributes": [
                    {
                      "agencia": "888889",
                      "banco_id": "{{BANCO_ID}}",
                      "conta": "88888889",
                      "digito_agencia": "85",
                      "digito_conta": "85"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atualizar Informações Bancárias",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"c3e97868f61251950b1d5845a9a540b1\""
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "2878ef9e-b204-4ef7-b0e5-49fb500a5e49"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.152638"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Informações bancárias salvas com sucesso."
                    }
                  }
                },
                "examples": {
                  "Atualizar Informações Bancárias": {
                    "value": {
                      "message": "Informações bancárias salvas com sucesso."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "ID Empresa Inválido",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "9b21f230-2d4f-48a7-9ad2-a7783d6d0551"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.033668"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Recurso não encontrado"
                      }
                    }
                  }
                },
                "examples": {
                  "ID Empresa Inválido": {
                    "value": {
                      "errors": [
                        "Recurso não encontrado"
                      ]
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Parâmetros vazios",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "bb8d7671-20c1-431d-94b7-40370e667760"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.275880"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Parametros não podem ser vazios"
                      }
                    }
                  }
                },
                "examples": {
                  "Parâmetros vazios": {
                    "value": {
                      "errors": [
                        "Parametros não podem ser vazios"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validações",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "87bab9f6-ce59-4123-802a-83fe0584597c"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.507047"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "informacoes_bancarias.banco": {
                            "type": "string",
                            "example": "O banco é obrigatório"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Validações": {
                    "value": {
                      "errors": [
                        {
                          "informacoes_bancarias.banco": "O banco é obrigatório"
                        },
                        {
                          "informacoes_bancarias.agencia": "não pode ficar em branco"
                        },
                        {
                          "informacoes_bancarias.conta": "não pode ficar em branco"
                        },
                        {
                          "informacoes_bancarias.digito_conta": "não pode ficar em branco"
                        },
                        {
                          "informacoes_bancarias.digito_agencia": "é muito longo (máximo: 10 caracteres)"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "EMPRESA_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/core/v1/cadastro_empresa/documentos": {
      "post": {
        "tags": [
          "Cadastro"
        ],
        "summary": "Envio de Documentos",
        "description": "### Sobre\n\nEsse endpoint permite enviar documento de qualquer natureza, sejam imagens ou arquivos em PDF.\n\n### Payload\n\n* **file_name**: Nome do arquivo a ser enviado.\n\n* **file_type**: Tipo do arquivo, ex: `image/jpeg`\n\n* **file_content**: Conteúdo do arquivo em Base64\n\n* **resource**: Recurso que irá ser associado, podem ser `empresa`, `pessoa_fisica` ou `pessoa_juridica`\n\n* **resource_id**: ID do recurso a qual o arquivo será associado.\n\n* **categoria**: Categoria do arquivo.",
        "operationId": "envioDeDocumentos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documento": {
                    "type": "object",
                    "properties": {
                      "categoria": {
                        "type": "string",
                        "example": "outros"
                      },
                      "file_content": {
                        "type": "string",
                        "example": "iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAflBMVEX///8AAAD39/fn5+eXl5fz8/O2trbs7OxDQ0PNzc3X19eurq5xcXH8/PzT09Pk5OQkJCTJycmMjIxRUVGdnZ3Dw8MdHR26urrb29s6Ojp/f39ycnJLS0sxMTFqamqioqJhYWEUFBRZWVmDg4MXFxcrKyuQkJA8PDwLCwtdXV2cnWJfAAAI1klEQVR4nN2dbVvqMAyGt/EqMERAFI/AUHnx///BwyRJu61bOy206f1JBb0ax/o8SdMuivxiMIn3c9eDuCW9Q3zhw/Uwbsgi/uHV9Thuxr9rgPGz64Hcii4EGD+6HsmNeMYAV65HciNeMcA40Mm0RwHGD67HchuGIsLU9VhuwlYEuHU9lpvQFQHGY9eDuQV9KcC443o0N2AqBzh0PZobMPiSIwxQK9K1HGCIWvFRCHAfnlZ8FgKMM9fjsc64GGDcdz0g2zxhZJg59VyPyDKPGOACQt24HpFl0hUEOEvm1y+OrodkmQVewsdoc/1i5HpIdnnDAJ8wO1wlrsdklSUGuKMpdeJ6TFahqsXb5Zvs+uWL60HZhKbRvDzaO1+/DimvGOA0eshtGmjFu+tRWSR9x0v4c9nAunVdD8siVLV4+vkWtGLqeFQWmWOA15IF3pOOR2URqlpAursDb+p2VBahqgWuMr0HphUDDHAN2W4K3wdjaA4Q0GoAPwDtXzgdlUUyvITkssGfLl2OyiI0jYq7DrQikIVRqloIdYe8YhPGbfiAAUpZxDIkrSC7/S4VDb+vPwpibTvZYIRSwQlXDgf1v8cHqWoheIGr6mxUFqGqxbPipztXo7LIDgMsCl8cjFYUqhYC7FBwNCqLUK9FyZwtVWFzpIdVi02pbj8MRSuo16LU8ISJBntDQ1WL8gIoaEXmYExWoV6LSqPFJAyteMEAK4v0yUH52eUGTaNZ3Utr3mvblaqFxDEErUhoGlV4a3CqT/cflkWoaqGo92JewVorqNdC1YPQV9ocXiiqFhLbGg1hBFUt1D2V8CLjRbUOTaPKl6H4zbixO5lBgDN1m8yxxgfwgaoWNentWu1V+aCuWgiw8sZWK2qqFoJ+0yTEgJqqhQRzrSj0WijBtJ9pXpFQy1pttyFoxemew7KH6LWoL2XPWWsFtos2KQFrraivWggwbbzfqCxCVYvPhjeBJ/++26gsMsIAs6Z3QY8+x8buwR4C3DRWX7Qzkb+cYOznxqToga9WNFUtJCD3Z9jYTVULTYcTaAW/xm6qWmguDpi6Gbu8glrWdAnD2Oxt3kFVC+0uQqaN3dRrUW+38Z3wRm41qG+8hNpF+SeeWqGrWkhAXsGssZuqFgaLgXuOWqGvWghYNnbTIqFJcxPHTUA9Kv6aaDgUUlnlFXW9FkpwUY3ThtEJBmi01glawWlRjTbamdU+39hpBe0QaapaCPCMAT7NemZVCwG7xm46HuhkOOQlM60Q51qYlly4NXZTy5rpbYV5xTOTTyntEDGWb6qmxtsxg1UZ06qFxDGWOH16XtU3rlpIFCLM+R77WzSlRcI2Zx+NyhFeWM+nXlq4BKfRr1bDK5/YcmWVeXhX6not6uiNt8og483crx4+WiT8jbJNjyd1lB87b+7KNlULJZ2X7UwZ5GWC9eGuFMcD/eGPJKPuUBnk1/fYtTEXxwP99S/1+jV35ezT5V2ZnHFysOK9pjWXMs52HUc94NRrYW2G77xMVsogL3elAwdL06jVoywud+VaGeTq7jUrMs9f3QfLH6LLXXlWxHhv91qYGrZj2+sr0+N7OcJ774MuT35D67dK5+Vf4VJmdv+8FoWz3C9sZwjp61LclXc/cOGtGuKF2dzypaTtNsP7S8bos3Kr4F1pL0OgpYKVG6s66E/UQZ7enuz8y+mf6NDATY8bdZQLCxMszWeOq3KdfqbOEA5/zBCoxuXB9stEIWA/nLPfZwg0X/uydW9QlyFsPn/1IaPkzKtHlkxrbGW82LW9Kyk58+7M1sd+Td4+bNWVQNv3HelEM72avL3NWOkPeNutocrbWxgvX3RCw/RYvJTm2w580gkNnb6UtxtnsaQTZkvKrkle0aWbmnLad8qmjR+6hk1zWKETXI4hwI2khpXBAYmND0VhI6Df7WD4ISX7561OVJi0mjVIJ/h0D/daXRJGOkHA1G9mL73LJ0wYtjA0pBNe5RMasJZkYkr56UQO7EQ0WaDq4TODvMwnatkYO7b0t2vmbsG+CwP1psIdH53IeTN2bBx1Imrj2KhFlZNOROTYZtq50c+6kwGmjo10Qv+/8Avss9RNjnQAw56VTkRkwg6691G1g93jHwwdG1OdiMTdpfnoUTcmv2Pnu0bTI8t8AlibODZ+dSeBkWOjncN8dl8IwLE1bqvo8as7CVDkmhxbyrDuJADHtmpyKQzrThJbvWNjrBORkWPjrBMRDX9W/w6WdScJrWNjrRORgWNLsO505pZPAF2NURF1J446kXPSODa++QQw0nwCeetEjsaxca07CdJzo2PjrhMROba9+lW2dSeJrMmx4fMQeJ5Gd6XZsfnf76SncVWUvU7kvDcoAR38yVYnombHRjrB+lF5DY4tAJ24kNY7NnHOPs98AkDHVq0tiacD8tWJHHBsijMIfNg/YYO4zrEFoROROLet8gLpBKPTk5SAY6t0BFPdibVORKKPrXyrkU5wOuFLCVyq8qmW3OtOEgulJ0up3ZvbiaUVHtWBsF6fKKJeFaXN7cx1Ike5Kkp1J+46EdWsivKvO0moHBudJcU6n0AUji2EupNA4dhEPsFeJ3IUjo1vv5MKbOqWHFso+QQAjk06vC2IupNExbHRKS/c8wmg4thIJ9jnE0DZsQVSd5Io7TwITCci4djwgtE6dhA6kVNybIHpRE7RsQVTdxIUHRvlE2xOfNZTcGxUdzJ5UgITCo4toLqTQHZsKfbFnv07Vfb3fEiOLTydiIqOLaS6k0DaKxqgTuTMyLGFsY5dAR1bGl4+AVAfW1h1JwkI6yG8fALAnQdCJzx/HkBrwLF16UhMVk9yMgAdGz2CNJC6kwAcGx0aG5ZO5HzEBQLKJ4BOMcCQ8gmgW4wwMJ3I2RcCDCmfAKaFAEPTiZzCudBh5RNX0i8pwPB0IpKePxq3e2QQHzIRoOmpc7wYiACDqjsJpCP2Q8snAMqXgtSJSHZsIepEDjm2IHUiB7sqA6s7CXAPl9GTnHkSbj6B7ELWiSv9TbzweIPIf+/LVZMbi+HCAAAAAElFTkSuQmCC"
                      },
                      "file_name": {
                        "type": "string",
                        "example": "flash.png"
                      },
                      "file_type": {
                        "type": "string",
                        "example": "image/png"
                      },
                      "resource": {
                        "type": "string",
                        "example": "empresa"
                      },
                      "resource_id": {
                        "type": "string",
                        "example": "{{EMPRESA_ID}}"
                      }
                    }
                  }
                }
              },
              "example": {
                "documento": {
                  "categoria": "outros",
                  "file_content": "iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAflBMVEX///8AAAD39/fn5+eXl5fz8/O2trbs7OxDQ0PNzc3X19eurq5xcXH8/PzT09Pk5OQkJCTJycmMjIxRUVGdnZ3Dw8MdHR26urrb29s6Ojp/f39ycnJLS0sxMTFqamqioqJhYWEUFBRZWVmDg4MXFxcrKyuQkJA8PDwLCwtdXV2cnWJfAAAI1klEQVR4nN2dbVvqMAyGt/EqMERAFI/AUHnx///BwyRJu61bOy206f1JBb0ax/o8SdMuivxiMIn3c9eDuCW9Q3zhw/Uwbsgi/uHV9Thuxr9rgPGz64Hcii4EGD+6HsmNeMYAV65HciNeMcA40Mm0RwHGD67HchuGIsLU9VhuwlYEuHU9lpvQFQHGY9eDuQV9KcC443o0N2AqBzh0PZobMPiSIwxQK9K1HGCIWvFRCHAfnlZ8FgKMM9fjsc64GGDcdz0g2zxhZJg59VyPyDKPGOACQt24HpFl0hUEOEvm1y+OrodkmQVewsdoc/1i5HpIdnnDAJ8wO1wlrsdklSUGuKMpdeJ6TFahqsXb5Zvs+uWL60HZhKbRvDzaO1+/DimvGOA0eshtGmjFu+tRWSR9x0v4c9nAunVdD8siVLV4+vkWtGLqeFQWmWOA15IF3pOOR2URqlpAursDb+p2VBahqgWuMr0HphUDDHAN2W4K3wdjaA4Q0GoAPwDtXzgdlUUyvITkssGfLl2OyiI0jYq7DrQikIVRqloIdYe8YhPGbfiAAUpZxDIkrSC7/S4VDb+vPwpibTvZYIRSwQlXDgf1v8cHqWoheIGr6mxUFqGqxbPipztXo7LIDgMsCl8cjFYUqhYC7FBwNCqLUK9FyZwtVWFzpIdVi02pbj8MRSuo16LU8ISJBntDQ1WL8gIoaEXmYExWoV6LSqPFJAyteMEAK4v0yUH52eUGTaNZ3Utr3mvblaqFxDEErUhoGlV4a3CqT/cflkWoaqGo92JewVorqNdC1YPQV9ocXiiqFhLbGg1hBFUt1D2V8CLjRbUOTaPKl6H4zbixO5lBgDN1m8yxxgfwgaoWNentWu1V+aCuWgiw8sZWK2qqFoJ+0yTEgJqqhQRzrSj0WijBtJ9pXpFQy1pttyFoxemew7KH6LWoL2XPWWsFtos2KQFrraivWggwbbzfqCxCVYvPhjeBJ/++26gsMsIAs6Z3QY8+x8buwR4C3DRWX7Qzkb+cYOznxqToga9WNFUtJCD3Z9jYTVULTYcTaAW/xm6qWmguDpi6Gbu8glrWdAnD2Oxt3kFVC+0uQqaN3dRrUW+38Z3wRm41qG+8hNpF+SeeWqGrWkhAXsGssZuqFgaLgXuOWqGvWghYNnbTIqFJcxPHTUA9Kv6aaDgUUlnlFXW9FkpwUY3ThtEJBmi01glawWlRjTbamdU+39hpBe0QaapaCPCMAT7NemZVCwG7xm46HuhkOOQlM60Q51qYlly4NXZTy5rpbYV5xTOTTyntEDGWb6qmxtsxg1UZ06qFxDGWOH16XtU3rlpIFCLM+R77WzSlRcI2Zx+NyhFeWM+nXlq4BKfRr1bDK5/YcmWVeXhX6not6uiNt8og483crx4+WiT8jbJNjyd1lB87b+7KNlULJZ2X7UwZ5GWC9eGuFMcD/eGPJKPuUBnk1/fYtTEXxwP99S/1+jV35ezT5V2ZnHFysOK9pjWXMs52HUc94NRrYW2G77xMVsogL3elAwdL06jVoywud+VaGeTq7jUrMs9f3QfLH6LLXXlWxHhv91qYGrZj2+sr0+N7OcJ774MuT35D67dK5+Vf4VJmdv+8FoWz3C9sZwjp61LclXc/cOGtGuKF2dzypaTtNsP7S8bos3Kr4F1pL0OgpYKVG6s66E/UQZ7enuz8y+mf6NDATY8bdZQLCxMszWeOq3KdfqbOEA5/zBCoxuXB9stEIWA/nLPfZwg0X/uydW9QlyFsPn/1IaPkzKtHlkxrbGW82LW9Kyk58+7M1sd+Td4+bNWVQNv3HelEM72avL3NWOkPeNutocrbWxgvX3RCw/RYvJTm2w580gkNnb6UtxtnsaQTZkvKrkle0aWbmnLad8qmjR+6hk1zWKETXI4hwI2khpXBAYmND0VhI6Df7WD4ISX7561OVJi0mjVIJ/h0D/daXRJGOkHA1G9mL73LJ0wYtjA0pBNe5RMasJZkYkr56UQO7EQ0WaDq4TODvMwnatkYO7b0t2vmbsG+CwP1psIdH53IeTN2bBx1Imrj2KhFlZNOROTYZtq50c+6kwGmjo10Qv+/8Avss9RNjnQAw56VTkRkwg6691G1g93jHwwdG1OdiMTdpfnoUTcmv2Pnu0bTI8t8AlibODZ+dSeBkWOjncN8dl8IwLE1bqvo8as7CVDkmhxbyrDuJADHtmpyKQzrThJbvWNjrBORkWPjrBMRDX9W/w6WdScJrWNjrRORgWNLsO505pZPAF2NURF1J446kXPSODa++QQw0nwCeetEjsaxca07CdJzo2PjrhMROba9+lW2dSeJrMmx4fMQeJ5Gd6XZsfnf76SncVWUvU7kvDcoAR38yVYnombHRjrB+lF5DY4tAJ24kNY7NnHOPs98AkDHVq0tiacD8tWJHHBsijMIfNg/YYO4zrEFoROROLet8gLpBKPTk5SAY6t0BFPdibVORKKPrXyrkU5wOuFLCVyq8qmW3OtOEgulJ0up3ZvbiaUVHtWBsF6fKKJeFaXN7cx1Ike5Kkp1J+46EdWsivKvO0moHBudJcU6n0AUji2EupNA4dhEPsFeJ3IUjo1vv5MKbOqWHFso+QQAjk06vC2IupNExbHRKS/c8wmg4thIJ9jnE0DZsQVSd5Io7TwITCci4djwgtE6dhA6kVNybIHpRE7RsQVTdxIUHRvlE2xOfNZTcGxUdzJ5UgITCo4toLqTQHZsKfbFnv07Vfb3fEiOLTydiIqOLaS6k0DaKxqgTuTMyLGFsY5dAR1bGl4+AVAfW1h1JwkI6yG8fALAnQdCJzx/HkBrwLF16UhMVk9yMgAdGz2CNJC6kwAcGx0aG5ZO5HzEBQLKJ4BOMcCQ8gmgW4wwMJ3I2RcCDCmfAKaFAEPTiZzCudBh5RNX0i8pwPB0IpKePxq3e2QQHzIRoOmpc7wYiACDqjsJpCP2Q8snAMqXgtSJSHZsIepEDjm2IHUiB7sqA6s7CXAPl9GTnHkSbj6B7ELWiSv9TbzweIPIf+/LVZMbi+HCAAAAAElFTkSuQmCC",
                  "file_name": "flash.png",
                  "file_type": "image/png",
                  "resource": "empresa",
                  "resource_id": "{{EMPRESA_ID}}"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sucesso",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"7e5046cbf6612ab3884e58f1716d358d\""
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "50a0b587-c50b-4dd5-833d-309f9a16d0a6"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.802676"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "{{DOCUMENTO_ID}}"
                    },
                    "url_download": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Sucesso": {
                    "value": {
                      "id": "{{DOCUMENTO_ID}}"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Arquivo sem o ID do recurso",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "a3650871-4fbe-43b8-a528-bde2c8cdda0a"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.027709"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Recurso não encontrado"
                      }
                    }
                  }
                },
                "examples": {
                  "Arquivo sem o ID do recurso": {
                    "value": {
                      "errors": [
                        "Recurso não encontrado"
                      ]
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Parâmetros vazios",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "ce50a7c7-97cc-4f20-b86b-b34c3d3ecba1"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.083328"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Parametros não podem ser vazios"
                      }
                    }
                  }
                },
                "examples": {
                  "Parâmetros vazios": {
                    "value": {
                      "errors": [
                        "Parametros não podem ser vazios"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Arquivo sem conteúdo",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "34b5c7aa-11a7-4e96-83ae-5948fdfa5c8d"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.026962"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Conteúdo do arquivo não pode ser vazio"
                      }
                    }
                  }
                },
                "examples": {
                  "Arquivo sem conteúdo": {
                    "value": {
                      "errors": [
                        "Conteúdo do arquivo não pode ser vazio"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/core/v1/cadastro_empresa/documentos/{DOCUMENTO_ID}": {
      "delete": {
        "tags": [
          "Cadastro"
        ],
        "summary": "Deleção de Documento",
        "description": "### Sobre\n\nEsse endpoint permite enviar documento de qualquer natureza, sejam imagens ou arquivos em PDF.\n\n### Payload\n\n* **file_name**: Nome do arquivo a ser enviado.\n\n* **file_type**: Tipo do arquivo, ex: `image/jpeg`\n\n* **file_content**: Conteúdo do arquivo em Base64\n\n* **resource**: Recurso que irá ser associado, podem ser `empresa`, `pessoa_fisica` ou `pessoa_juridica`\n\n* **resource_id**: ID do recurso a qual o arquivo será associado.\n\n* **categoria**: Categoria do arquivo.",
        "operationId": "deleçãoDeDocumento",
        "requestBody": {
          "content": {
            "text/plain": {
              "example": ""
            }
          }
        },
        "responses": {
          "204": {
            "description": "Sucesso",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "2a361a72-2b4f-44fc-ae1d-31fdc99199c4"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.094039"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
            }
          },
          "404": {
            "description": "Documento inexistente",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "strict-origin-when-cross-origin"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "d075a586-77b1-446d-b8db-6adbd53d4b61"
                }
              },
              "X-Runtime": {
                "schema": {
                  "type": "string",
                  "example": "0.030672"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "1; mode=block"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Recurso não encontrado"
                      }
                    }
                  }
                },
                "examples": {
                  "Documento inexistente": {
                    "value": {
                      "errors": [
                        "Recurso não encontrado"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "DOCUMENTO_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/core/v1/cadastro_empresa/empresas": {
      "post": {
        "tags": [
          "Cadastro"
        ],
        "summary": "Cadastro Inicial",
        "description": "Cadastro Inicial",
        "operationId": "cadastroInicial",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "empresa": {
                    "type": "object",
                    "properties": {
                      "cnpj": {
                        "type": "string",
                        "example": "{{CNPJ}}"
                      },
                      "cpf": {
                        "type": "string",
                        "example": "{{CPF}}"
                      },
                      "email": {
                        "type": "string",
                        "example": "empresa_teste@empresa.com"
                      },
                      "faturamento_anual": {
                        "type": "number",
                        "example": 1400000
                      },
                      "telefone_celular": {
                        "type": "string",
                        "example": "(11) 1111-1111"
                      },
                      "termos_de_uso": {
                        "type": "string",
                        "example": "true"
                      }
                    }
                  }
                }
              },
              "example": {
                "empresa": {
                  "cnpj": "{{CNPJ}}",
                  "cpf": "{{CPF}}",
                  "email": "empresa_teste@empresa.com",
                  "faturamento_anual": 1400000,
                  "telefone_celular": "(11) 1111-1111",
                  "termos_de_uso": "true"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sucesso",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0, private, must-revalidate"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"039d13361968a3c9c2a97d7d9bc6dab1\""
                }
              },
              "Referrer-Policy": {
[...]
