{
  "openapi": "3.0.0",
  "info": {
    "title": "QFlash Public API",
    "version": "1.0.1",
    "description": "This is the documentation for the QFlash Public API. You can find out more about the product at our [website](https://www.qflash.com.br/). You can use the API key `totallyfakekey123` in the `x-api-key` header to authorize requests for test purposes.",
    "contact": {
      "email": "qflash@qflash.com.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags": [
    {
      "name": "cnpj",
      "description": "These endpoints are used to save and retrieve CNPJ information from our databases. Integrations with partners require them to send us the desired CNPJS via POST requests with additional information they might find important to share with us."
    },
    {
      "name": "limit",
      "description": "These endpoints grant access to QFlash CNPJ credit scores and quote limits. They enable the partners to retrieve valuable information and rank the CNPJs based on our credit models."
    }
  ],
  "paths": {
    "/cnpj": {
      "post": {
        "tags": [
          "cnpj"
        ],
        "summary": "POST /cnpj",
        "operationId": "PostCNPJ",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "SlJ1T0hd9W3XEoyGuh8xS9su4laZAPVe2hhiSFpA"
          }
        ],
        "requestBody": {
          "description": "CNPJ object with any additional field that may hold important information.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cnpj"
                ],
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "example": "54202735000127"
                  },
                  "anyAdditionalFields": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "integer"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array"
                      },
                      {
                        "type": "object"
                      }
                    ],
                    "required": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid CNPJ supplied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/limit": {
      "get": {
        "tags": [
          "limit"
        ],
        "summary": "GET /limit/",
        "description": "Returns quote object",
        "operationId": "GetLimit",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "SlJ1T0hd9W3XEoyGuh8xS9su4laZAPVe2hhiSFpA"
          }
        ],
        "security": [
          {
            "x-api-key": [

            ]
          }
        ],
        "requestBody": {
          "description": "CNPJ object with any additional field that may hold important information.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cnpj"
                ],
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "example": "52.027.35/0001-27"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cnpj": {
                      "type": "string",
                      "example": "54.202.735/0001-27"
                    },
                    "quote": {
                      "type": "number",
                      "format": "float",
                      "example": 735.1
                    },
                    "anyAdditionalFields": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "integer"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "object"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid CNPJ supplied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "CNPJ not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorMessage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "x-api-key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    }
  },
  "externalDocs": {
    "description": "Find out more.",
    "url": "https://www.qflash.com.br/como_funciona"
  },
  "servers": [
    {
      "url": "https://api.qflash.com.br/v1/"
    }
  ]
}
